* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: calc(100vh - 160px);
  margin-top: 80px;
  width: 100%;
  background-image: url("https://www.cliclavoroveneto.it/documents/103901/106631/categorie+lavoratori+dipendenti_rev.jpg/65d4c478-175e-4a86-9d69-10648a4e7153?t=1385474845000");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  text-align: center;
}

main .home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

main .home a {
  margin: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background: rgba(204, 255, 255, 0.5);
}

main .home a:hover {
  background: blue;
  color: white;
}

main .show {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .show .show_impiegato {
  height: 230px;
  border: 1px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #f0f0f0;
  margin-bottom: 40px;
}

main .show .show_impiegato > span > h3 {
  display: inline;
}

main .show ul {
  background: #f0f0f0;
  border: 1px solid grey;
  padding: 20px;
}

main .show ul li {
  list-style-type: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  top: auto;
  bottom: 0;
}

